
<div class="jumbotron">
    <h1>Northern Michigan Microbreweries</h1>
</div>

<div class="row">

    <div class="col-md-6">
        <h2>What We Are About</h2>
        <p>
            The Northwestern Michigan microbrewery scene has exploded over the last few year and
            to keep up with the existing and new microbreweries, we have gathered 
            all of the vitals to help make an informed choice about where next to gather.
        </p>
    </div>

    <div class="col-md-6">
        <h2>How to Get Started</h2>
        <p>
            To view a list of brew pubs, click the button below.
        </p>
        <button type="button" onclick="location.href='@Url.Action("Index", "Brewery")'" class="btn">Brew Pub List</button>
    </div>

</div>